h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.25;
}

button{
  margin: .15em;
}
.btn-primary-lg{
  background: var(--color-primary);
  color: var(--color-white);
  font-family: var(--secondary-font);
  padding: .75em 3em;
  border-radius: .35rem;
  border: 3px solid var(--color-primary);
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
.btn-primary-lg:hover {
  background: var(--color-primary-h);
  border-color: var(--color-primary-h);
  color: var(--color-white);
}
.btn-primary-outlined-lg{
  background: var(--color-white);
  color: var(--color-primary);
  font-family: var(--secondary-font);
  padding: .75em 3em;
  border-radius: .35rem;
  border: 3px solid var(--color-primary);
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
.btn-primary-outlined-lg:hover {
  background: #f3f3f3;
  border-color: var(--color-primary-h);
}
.btn-primary-sm{
  background: var(--color-primary);
  color: var(--color-white);
  font-family: var(--secondary-font);
  padding: .5em 2em;
  border-radius: .35rem;
  border: 3px solid var(--color-primary);
  font-weight: 400;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
.btn-primary-sm:hover {
  background: var(--color-primary-h);
  border-color: var(--color-primary-h);
  color: var(--color-white);
}
.btn-primary-outlined-sm{
  background: var(--color-white);
  color: var(--color-primary);
  font-family: var(--secondary-font);
  padding: .5em 2em;
  border-radius: .35rem;
  border: 3px solid var(--color-primary);
  font-weight: 400;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
.btn-primary-outlined-sm:hover {
  background: #f3f3f3;
  border-color: var(--color-primary-h);
}

a, a:visited, a:focus, a:active{
  text-decoration: none;
}

p{
  font-weight: 500;
}

.container-x{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-y{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

*{
  transition: all 0.3s ease-in-out;
}

/* custom style */
.badge{
   display: inline-block; 
  width: fit-content;
  padding: .15em .5em;
  background: var(--color-secondary);
  transform: rotate(-4deg);
  font-size: .75em;
}

/* border reference for styling guide */
.b{
  border: red thin solid;
}

.rotate-y{
  display: inline-block; 
  transform: rotate(6deg);
}