@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  
  /* Accessibility */
  color-scheme: light;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Fonts */
  --primary-font: 'Nunito', Arial, sans-serif;
  --secondary-font: 'Poppins', Arial, sans-serif;

  /* Colors */
  --color-primary: #004C9F;
  --color-primary-h: #00438b;
  --color-secondary: #FF3F1F;
  --color-accent-1: #3399FF;
  --color-accent-2: #96cafd;
  --color-background: #ffffff;
  --color-danger: #f84040;
  --color-warning: #f2b708;
  --color-success:#26bd59;
  --color-white: #ffffff;
  --color-black: #252525;

  /* grays */
  --color-gray-1: #f7f7f7;
  --color-gray-2: #eeeeee;
  --color-gray-3: #dddddd;
  --color-gray-4: #cccccc;
  --color-gray-5: #bbbbbb;
  --color-gray-6: #aaaaaa;
  --color-gray-7: #999999;
  --color-gray-8: #888888;
  --color-gray-9: #777777;
}


